<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html; charset=utf-8">
		<!-- syntax highlighting CSS -->
		<link rel="stylesheet" href="/stylesheets/syntax.css" type="text/css" />
		<link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/style.css">
		<!--Lora font-->	
		<link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic' rel='stylesheet' type='text/css'>
		<!--Icon on tab-->
		<link rel="shortcut icon" href="/images/euler_y_b7.png" >
		<link rel="icon" type="image/png" href="/images/euler_y_b7.png" >
		<title>{{ page.title }}</title>
		
	</head>
	<body>
		<div id="container">
			{{ content }}
		</div>
	</body>
</html>
